/ros2
python_dev/1_pick_drop_park.py
python_dev/Competition/
python_dev/Least wanted/
python_dev/QCar2_YOLOv8_object_segmentation.py
python_dev/QCar2_hardware_test_basic_io.py
python_dev/QCar2_hardware_test_csi_cameras.py
python_dev/QCar2_hardware_test_csi_cameras_ruined.py
python_dev/QCar2_hardware_test_intelrealsense.py
python_dev/QCar2_hardware_test_rp_lidar_a2.py
python_dev/__pycache__/
python_dev/batch1/
python_dev/best.pt
python_dev/numpy_reader.py
python_dev/runs/
python_dev/slope_seq.csv
python_dev/slope_seq.npy
python_dev/ssd_mobilenet_v1_coco_11_06_2017/
python_dev/test.csv
python_dev/vehicle_control.py
python_dev/vehicle_control_original.py
python_dev/vehicle_control_pick&drop.py
python_dev/vehicle_control_pick_drop.py
python_dev/vehicle_control_plain2.py
python_dev/vehicle_control_yolo.py
python_dev/vehicle_control_yolo2.py
python_dev/vehicle_control_yolo3.py
python_dev/vehicle_control_yolo3_copy.py
python_dev/vehicle_control_yolo3_intel.py
python_dev/vehicle_control_yolo4_improved.py
python_dev/vehicle_control_yolo5_improved.py
python_dev/vehicle_control_yolo6_improved.py
python_dev/vehicle_control_yolo6_improved_ped.py
python_dev/waypoint_seq.npy
python_dev/yolo11n.pt
